{% extends 'icikiwir.html' %}
{% block content %}
  <br> </br>

  <div class="container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card shadow-sm mb-4">
        <div class="card-header py-3" style="background-color:#373a55">
          <h6 class="m-0 font-weight-bold" style="color: #3bba9c;">Edit Data Pegawai</h6>
        </div>
        <div class="card-body">
          <label>Foto Pegawai</label>
          <div class="form-group">
            {{form.foto}}
          </div>
          <label>Nama Pegawai</label>
          <div class="form-group">
            {{form.nama}}
          </div>
          <label>NIP Pegawai</label>
          <div class="form-group">
            {{form.nip}}
          </div>
          <label>Divisi Pekerjaan</label>
          <div class="form-group">
            {{form.divisi}}
          </div>
          <label>Alamat</label>
          <div class="form-group">
            {{form.alamat}}
          </div>
        <label>Jenis Kelamin</label>
            {{form.gender}}
                  
          
        </div>
        <div class="card-footer">
          <button type="submit" class="btn" style="background-color:#3bba9c;color:#373a55;"><i class="fa fa-save"></i> Simpan Data</button>
          <a href="/" class="btn btn-danger">Batal</a>
        </div>
      </div>
    </form>
    
  </div>
  {% endblock content %}